<%-include("./partials/header.ejs")%>
    <h1 id="h1sec"><em><strong><u><%=blog.title%></u></strong></em></h1><hr>
    <p class="post-content"><%=blog.content%></p><hr>
    <form action="/edit/<%= blog.id %>" method="GET" style="display:inline;">
        <button type="submit">Edit</button>
    </form>
    <form action="/delete/<%= blog.id %>" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
    </form>
<footer>
  <p>Copyright <%=year%></p>
</footer>
</body>

</html>